/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/*@font-face {
    font-family: "Roboto", sans-serif;
    src: url(../assets/font/Roboto-Light.ttf);
} */

/* h1, h2, h3, h4, h5, h6, a, p {
    font-family: "Roboto", sans-serif;
} 

a, p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
} */

/* body {
    background: #DB9191;
} */

/* Inicio CSS Header (Responsive Bootstrap) */

/*.navbar {
    position: sticky;
    top: 0;
    padding: 15px;
}

.header__background {
    background-color: #000018;
}

.header__image { 
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.nav-link {
    font-size: 24px;
    color: white;
}

.nav-link:hover {
    color: #EBFF00;
} */

/* Fin de CSS Header (Responsive con Bootstrap) */

/* Inicio CSS Componente Button */

/* .button {
    padding: 15px 30px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    border: none;
    border-radius: 12px;
    color: black;
    background-color: #EBFF00;
} */

/* Fin de CSS COmponente Button */

/* Inicio CSS Hero (Responsive Normal) */

/*.hero {
    background-image: url(../assets/images/home/hero.webp);
    background-repeat: repeat;
    background-size: cover;
    background-position: center; 
    height: 800px;
}

.hero__title {
    padding-top: 60px;
    text-align: center;
    font-size: 60px;
    font-weight: 600;
    color: black;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .hero__title {
        font-size: 50px;
    }
}

@media (min-width: 640px) and (max-width: 768px) {
    .hero__title {
        font-size: 46px;
    }
}

@media (min-width: 360px) and (max-width: 640px)  {
    .hero__title {
        font-size: 40px;
        padding-top: 80px;
    }
} */

/*.hero__title::selection {
    color: #EBFF00;
} */

/*.hero__span {
    color: #FFB800;
}

.hero__span::selection {
    color: #000018;
} */

/*.hero__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
}

@media (min-width: 640px) and (max-width: 768px) {
    .hero__buttons {
        flex-direction: column;
        max-width: 250px;
        margin: 0 auto;
        gap: 20px;
        text-align: center;
        margin-top: 60px;
    }
} 

@media (min-width: 360px) and (max-width: 640px) {
    .hero__buttons {
        flex-direction: column;
        max-width: 200px;
        margin: 0 auto;
        gap: 15px;
        text-align: center;
        margin-top: 20px;
    }
}

.hero__button {
    padding: 15px 30px;
} */

/*@media (min-width: 768px) and (max-width: 1024px) {
    .button {
        padding: 12px 20px;
        margin-top: 40px;
    }
}

@media (min-width: 640px) and (max-width: 768px) {
    .button {
        padding: 12px 16px;
        font-size: 18px;
    }
}

@media (min-width: 360px) and (max-width: 640px) {
    .button {
        padding: 8px 14px;
        font-size: 14px;

    }
} */

/*.hero__button--primary:hover {
    background-color: #401992;
    color: wheat;
}

.hero__button--secondary:hover {
    background-color: #401992;
    color: wheat;
} 

/* Fin de CSS Hero */

/* CSS Card Article Album */ 

/*.article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

@media (min-width: 360px) {
    .article {
        margin: 0 auto;
        margin-bottom: 20px;
    }
} */

/*.article__maintitle {
    padding-top: 30px;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    color: #000018;
}

.article__maintitle::selection {
    color: #EBFF00;
} */

/*.article__container {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 10px 20px;
    border-radius: 12px;
    box-shadow: 1px 1px 12px 2px black;
    background-color: #000018;
}

@media (min-width: 360px)  { 
    .article__container {
        flex-direction: column;
    }   
}

@media (min-width: 768px) { 
    .article__container {
        flex-direction: row;
    }   
}
 
.article__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.article__image {
    width: 250px;
    height: 250px;
    border-radius: 12px;
} */

/*@media (min-width: 360px) { 
    .article__image {
        width: 250px;
        height: 250px;
    }
}

@media (min-width: 640px) { 
    .article__image {
        width: 300px;
        height: 300px;
    }
} */

/*.article__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 360px) { 
    .article__content {
        max-width: 300px;
        margin-bottom: 20px;
    }
}

@media (min-width: 640px) { 
    .article__content {
        max-width: 400px;
    }
}

@media (min-width: 768px) {
    .article__content {
        max-width: 600px;
        margin-top: 40px;
    }
}

@media (min-width: 1024px) {
    .article__content {
        max-width: 900px;
    }
} */

/*.article__title {
    color: white;
} */

/*@media (min-width: 360px) { 
    .article__title {
        font-size: 40px;
        font-weight: 600;
        text-align: center;
    }
}

@media (min-width: 640px) { 
    .article__title {
        font-size: 38px;
    }
}

@media (min-width: 768px) {
    .article__title {
        font-size: 36px;
    }
}

@media (min-width: 1024px) {
    .article__title {
        text-align: left;
        font-size: 44px;
    }
} */

/*.article__text {
    color: white;
} */

/*@media (min-width: 360px) {
    .article__text {
        font-size: 26px;
        text-align: center;
    }
}

@media (min-width: 640px) {
    .article__text {
        font-size: 22px;
    }
}

@media (min-width: 768px) {
    .article__text { 
        text-align: center;
        font-size: 18px;
    }
}

@media (min-width: 1024px) {
    .article__text {
        text-align: left;
        font-size: 28px;
    }
} */

/*.article__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}*/

/*@media (min-width: 1024px) {
    .article__buttons {
        justify-content: flex-start;
    }
} */

/*.article__button {
    padding: 10px 40px;
} */

/* Fin CSS Card Article Index */

/* Inicio CSS Integrantes (No Responsive)*/

/*.tarjeta { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 60px;
} */

/* Areas de Tarjetas*/

/*.tarjeta__guillermo {
    grid-area: Guillermo;
}

.tarjeta__hugo {
    grid-area: Hugo;
}

.tarjeta__michael {
    grid-area: Michael;
}

.tarjeta__grano {
    grid-area: Grano;
}

.tarjeta__cuico {
    grid-area: Cuico;
}

.tarjeta__hector {
    grid-area: Hector;
} */

/*Medias Queries Areas*/

/* @media (min-width: 360px) and (max-width: 680px) {
    .tarjeta {
        display: grid;
        grid-template-areas: 
            "Guillermo"
            "Hugo"
            "Michael"
            "Grano"
            "Cuico"
            "Hector"
        ; 
    }
}

@media (min-width: 681px) and (max-width: 1020px) {
    .tarjeta {
        display: grid;
        grid-template-areas: 
            "Guillermo Hugo"
            "Michael Grano"
            "Cuico Hector"
        ; 
    }
}

@media (min-width: 1024px) {
    .tarjeta {
        display: grid;
        grid-template-areas: 
            "Guillermo Hugo Michael"
            "Grano Cuico Hector"
        ; 
    }
} */

/*.tarjeta__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 350px;
    padding: 20px;
    box-shadow: 1px 1px 12px 2px black;
    background-color: #000018;
}

.tarjeta__image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.tarjeta__title {
    padding-top: 20px;
    font-size: 20px;
    font-weight: 700;
    color: #EBFF00;
}

.tarjeta__text {
    text-align: center;
    color: #EBFF00;
} */

/*Acordeones*/

/*.acordeon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 40px;   
} */

/*@media (min-width: 360px) {
    .acordeon {
        gap: 35px;
    }
}

@media (min-width: 480px) {
    .acordeon {
        gap: 40px;
    }
}

.acordeon__biographies {
    font-size: 60px;
    font-weight: 600;
    color: black;
} 

@media (min-width: 360px) {
    .acordeon__biographies {
        text-align: center;
        font-size: 36px;
    }
}

@media (min-width: 480px) {
    .acordeon__biographies {
        font-size: 40px;
    }
}

@media (min-width: 640px) {
    .acordeon__biographies {
        font-size: 46px;
    }
}   

@media (min-width: 768px) {
    .acordeon__biographies {
        font-size: 52px;
    }
} */

/*.acordeon__list {
    padding: 20px 40px;
    border-radius: 12px;
    transition: all .3s ease-in-out;
    box-shadow: 1px 1px 12px 1px black; 
    background-color: #000018;
}

@media (min-width: 360px) {
    .acordeon__list {
        width: 300px;
    }
}

@media (min-width: 480px) {
    .acordeon__list {
        width: 430px;
    }
}

@media (min-width: 640px) {
    .acordeon__list {
        width: 550px;
    }
}

@media (min-width: 768px) {
    .acordeon__list {
        width: 600px;
    }
}

@media (min-width: 992px) {
    .acordeon__list {
        width: 800px;
    }
} */

/* .acordeon__list:hover {
    transform: scale(1.1);
} */

/*.acordeon__title {
    font-size: 36px;
    font-weight: 600;
    cursor: pointer;
    color: #5abeb1;
}

@media (min-width: 360px) {
    .acordeon__title {
        font-size: 18px;
    }
}

@media (min-width: 480px) {
    .acordeon__title {
        font-size: 24px;
    }
}

@media (min-width: 640px) {
    .acordeon__title {
        font-size: 28px;
    }
}

@media (min-width: 768px) {
    .acordeon__title {
        font-size: 32px;
    }
} */

/* .acordeon__title:hover {
    color: #FFB800;
    transition: all .2s ease-in-out;
} */

/* .acordeon__text {
    padding: 10px 0;
    font-size: 20px;
    font-weight: 400;
    color: #FFB800;
}

@media (min-width: 360px) {
    .acordeon__text {
        font-size: 14px;
        font-weight: bold;
    }
}

@media (min-width: 480px) {
    .acordeon__text {
        font-size: 18px;
        font-weight: 300;
    }
}

@media (min-width: 640px) {
    .acordeon__text {
        font-size: 22px;
        font-weight: 300;
    }
} */

/* Fin de CSS Seccion Integrantes */

/* Inicio CSS Albumes Cartas (Responsive Normal) */

/* .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.container__description {
    max-width: 990px;
    margin-top: 20px;
} 

 .container__title {
    font-size: 40px;
    font-weight: bold;
    font-weight: 600;
    color: black;
} 

.container__text {
    padding-top: 10px;
    font-size: 22px;
    margin-top: 10px;
    font-weight: 400;
    color: black;
} 

.cartas__container {
    width: 100%;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: auto auto auto;
    justify-content: center;
    gap: 40px;
    padding: 30px;
} 

@media (min-width: 768px) and (max-width: 1024px) {  

    .container {
        margin: 0 auto;
    }   

    .container__description {
        max-width: 550px;
    }

    .container__title {
        font-size: 24px;
    }

    .container__text {
        font-size: 18px;
    }
    
    .cartas__container {
        grid-template-columns: auto auto;
    }
}

@media (min-width: 640px) and (max-width: 768px) {
    
    .container {
        margin: 0 auto;
    }

    .container__description {
        max-width: 550px;
    }

    .container__title {
        font-size: 22px;
    }

    .container__text {
        font-size: 16px;
    }

    .cartas__container {
        grid-template-columns: auto auto;
        
    }
} 

@media (min-width: 360px) and (max-width: 640px) {

    .container {
        margin: 0 auto;
    }

    .container__description{
        max-width: 300px;
    }

    .container__title {
        font-size: 20px;
    }

    .container__text {
        font-size: 16px;
    }

    .cartas__container {
        grid-template-columns: auto;
    }
} 

.carta__image {
    width: 250px;
    height: 250px;
    border-radius: 8px;
}

.carta__title {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
    color: black
}

.carta__text {
    margin: 5px 0px;
    font-size: 18px;
    color: black;
    max-width: 250px;
}

.carta__button {
    display: inline-block;
    margin-top: 12px;
    padding: 10px 40px;
} */

/* Fin de CSS Albumes (Responsive Normal) */

/* Inicio CSS Seccion Shows (Responsive Normal) */

/*.shows {
    background-image: url(../assets/images/shows/teatro-de-verano.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    padding: 10% 10%;
}

@media (min-width: 360px) {
    .shows {
        height: auto;
    }
} */

/* .shows__container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

@media (min-width: 720px) {
    .shows__container {
        max-width: 800px;
    }
} */

/*.shows__title {
    font-size: 60px;
    font-weight: 600;
    color: #000018;
}

@media (min-width: 360px) and (max-width: 768px) {
    .shows__title {
        font-size: 40px;
        font-weight: bold;
    }
} */

/* .shows__text {
    font-size: 28px;
    color: orange;
}

@media (min-width: 360px) and (max-width: 768px) {
    .shows__text {
        font-weight: bold;
        font-size: 22px;
    }
} */

/* .shows__buttons { 
    display: flex;
    gap: 30px;
}

@media (max-width: 480px) {
    .shows__buttons {
        flex-direction: column;
        gap: 10px;
    }
} */

/*.shows__button {
    margin-top: 20px;
    padding: 10px 60px;
    text-align: center;
}

@media (max-width: 480px) {
    .shows__button {
        flex-direction: column;
        max-width: 180px;
    }
}

@media (max-width: 768px) {
    .shows__button {
        padding: 10px 30px;
    }
} */

/* .shows__button--primary:hover {
    background: #09f;
}

.shows__button--secondary:hover {
    background:#000018;
    color: wheat;
} */

/*Acordeones de Shows*/

/*.acordeon__shows {
    display: flex;
    align-items: flex-start;
    gap: 60px;
} */

 /*@media (min-width: 360px) {
    .acordeon__shows {
        gap: 40px;
        padding-top: 30px;
    }
}

@media (min-width: 520px) {
    .acordeon__shows {
        gap: 40px;
        padding-top: 30px;
    }
} */


/*.acordeon__shows-subtitle {
    font-size: 40px;
    font-weight: bold;
    color: orange;
} */

/*.acordeon__shows-list {
    width: 450px;
} */

/*@media (max-width: 520px) {
    .acordeon__shows-list {
        width: 300px;
    }
}

@media (min-width: 360px) and (max-width: 520px) {
    .acordeon__shows-title {
        font-size: 18px;
    }
} */

/*@media (min-width: 360px) and (max-width: 520px) {
    .acordeon__shows-text {
        font-size: 14px;
    }
} */

/* Fin de CSS Seccion Shows (Responsive Normal) */

/* Inicio CSS Contacto (Responsive Normal) */

/*.form {
    margin: 40px;
} */

/*.form__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 500px;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 1px 1px 12px 2px black;
    background-color: #000018;
} */

/* @media (min-width: 480px) and (max-width: 768px) {
    .form__container {
        align-items: flex-start;
        max-width: 350px;
    }
}

@media (min-width: 360px) and (max-width: 480px) {
    .form__container {
        align-items: flex-start; 
        max-width: 300px;
    }
} */

/*.form__title {
    font-size: 40px;
    font-weight: bold;
    color: white;
} */

/* @media (min-width: 480px) and (max-width: 768px) {
    .form__title {
        font-size: 30px; 
    }
}

@media (min-width: 360px) and (max-width: 480px) {
    .form__title {
        font-size: 24px; 
    }
} */

/*.form__content {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
} */

/*.form__label {
    font-size: 24px;
    margin-bottom: 5px;
    font-weight: 600;
    color: white;
} */

/*@media (min-width: 480px) and (max-width: 768px) {
    .form__label {
        font-size: 20px; 
    }
}

@media (min-width: 360px) and (max-width: 480px) {
    .form__label {
        font-size: 16px; 
    }
} */
/*    ::placeholder {
        font-size: 14px;
    } */

/*.form__input {
    padding: 3px;
    width: 350px;
} */

/* @media (min-width: 480px) and (max-width: 768px) {
    .form__input {
        max-width: 280px;
    }
}

@media (min-width: 360px) and (max-width: 480px) {
    .form__input {
        max-width: 200px;
    }
} */

/* .form__terms {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
} */

/* .form__checkbox {
    width: 16px;  
    height: 16px;  
} */

/* @media (min-width: 480px)  and (max-width: 768px) {
    .form__checkbox {
        width: 12px;
        height: 12px;
    }
} 

@media (min-width: 360px)  and (max-width: 480px) {
    .form__checkbox {
        width: 10px;
        height: 10px;
    }
} */

/* .form__text {
    font-size: 20px;
    color: white;
    max-width: 350px;
} */

/* @media (min-width: 480px)  and (max-width: 768px) {
    .form__text {
        font-size: 16px;
    }
} 

@media (min-width: 360px)  and (max-width: 480px) {
    .form__text {
        font-size: 14px;
    }
} */

/* .form__buttons {
    display: flex;
    gap: 30px;
} */

/*@media (min-width: 360px) and (max-width:480px) {
    .form__buttons {
        gap: 12px;
    }
} */

/*.form__button {
    padding: 12px 40px;   
} */

/* @media (min-width: 480px)  and (max-width: 768px) {
    .form__button {
        padding: 6px 20px;
    }
}

@media (min-width: 360px)  and (max-width: 480px) {
    .form__button {
        padding: 6px 16px;
    }
} */

/*.form__button--primary:hover {
    background-color: #401992;
    color: wheat;
    transition: all .6s;
}

.form__button-secondary:hover {
    background-color: #401992;
    color: wheat;
    transition: all .6s;
} */

/* Fin de CSS Contacto (Responsive Normal) */

/* Inicio Footer (Responsive con Bootstrap) */  

/*.footer {
    width: 100%;
}

.footer__background {
    background-color: #030303;
}

.footer__logo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.footer__title {
    font-size: 40px;
    font-weight: 600; 
    margin-top: 15px;  
    color: white;
}

.footer__title::selection {
    color: #EBFF00;
}

.footer__text {
    margin-top: 15px;
    font-size: 20px;
    color: white;
}

.footer__text::selection {
    color: #EBFF00;
}

.footer__content {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
}

.footer__lists {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-top: 15px;
}

.footer__subtitle {
    font-size: 32px;
    color: white;
}

.footer__subtitle::selection {
    color: #EBFF00;
}

.footer__links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    font-size: 22px;
    color: white;
}

.footer__links::selection {
    color: #DB9191;
}

.footer__links:hover {
    opacity: .8;
    color: #FFB800;
}

.footer__links--spotify:hover {
    color: rgb(87, 252, 87);
}

.footer__copyright {
    text-align: center;
}

.footer__line {
    color: white;
}

.footer__rights {
    margin-top: 25px;
    font-size: 18px;
    cursor: pointer;
    color: #FFB800; 
}

.footer__rights:hover {
    color: white;
}

.footer__rights::selection {
    color: #DB9191;
}

.footer__name::selection {
    color: #DB9191;
} */

/* Fin CSS Footer (Responsive con Bootstrap) */
