.button {
  padding: 15px 30px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  border: none;
  border-radius: 12px;
  color: black;
  background-color: $color-text-heptenary;
}








